Package: parrot-welcome
Version: 3.0+parrot2
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 4249
Depends: apt-parrot
Recommends: python, python-gtk2, python-webkit, python-gobject
Section: info
Priority: optional
Homepage: http://www.parrotsec.org/
Description: Parrot Welcome Message
