#!/usr/bin/env xdg-open

[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Welcome to Parrot
Exec=parrot-welcome
Icon=gtk-info
Comment=Welcome to Parrot Security OS
